table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  /* employee.component.css */
  .view-icon {
    color: blue; /* Customize the view icon color */
  }
  
  .edit-icon {
    color: rgb(128, 75, 0); /* Customize the edit icon color */
  }
  
  .delete-icon {
    color: red; /* Customize the delete icon color */
  }
  